In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('melb_data.csv')
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

In [12]:
print(f"Shape:{df.shape}")

Shape:(13580, 21)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [11]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [16]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

# Handling NaN Values
### Replacing it by median values

In [28]:
df["Car"].fillna(df["Car"].median(skipna=True),inplace=True)
df["BuildingArea"].fillna(df["BuildingArea"].median(skipna=True),inplace=True)
df["YearBuilt"].fillna(df["YearBuilt"].median(skipna=True),inplace=True)

### Droping rows with NaN values in Council Area column

In [31]:
df = df.dropna(subset=["CouncilArea"])

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12211 entries, 0 to 12212
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         12211 non-null  object
 1   Address        12211 non-null  object
 2   Rooms          12211 non-null  int64
 3   Type           12211 non-null  object
 4   Price          12211 non-null  float64
 5   Method         12211 non-null  object
 6   SellerG        12211 non-null  object
 7   Date           12211 non-null  object
 8   Distance       12211 non-null  float64
 9   Postcode       12211 non-null  float64
 10  Bedroom2       12211 non-null  float64
 11  Bathroom       12211 non-null  float64
 12  Car            12211 non-null  float64
 13  Landsize       12211 non-null  float64
 14  BuildingArea   12211 non-null  float64
 15  YearBuilt      12211 non-null  float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      12211 non-null  float64
 18  Longtitude     12211 non-null  float64
 19  Regionname     12211 non-null  object
 20  Propertycount  12211 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.0+ MB

In [37]:
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,126.0,1970.0,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,126.0,1970.0,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

In [43]:
pd.to_datetime(df["Date"],format="%d/%m/%Y")

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
12208   2017-07-29
12209   2017-07-29
12210   2017-07-29
12211   2017-07-29
12212   2017-07-29
Name: Date, Length: 12211, dtype: datetime64[ns]

In [54]:
df = df.astype({'YearBuilt':'int','Postcode':'int','Bedroom2':'int','Bathroom':'int'})

### Numerical Variables

In [67]:
df.select_dtypes(exclude='object').dtypes

Rooms                     int64
Price                   float64
Date             datetime64[ns]
Distance                float64
Postcode                  int64
Bedroom2                  int64
Bathroom                  int64
Car                     float64
Landsize                float64
BuildingArea            float64
YearBuilt                 int64
Lattitude               float64
Longtitude              float64
Propertycount           float64
dtype: object

### Categorical Variables

In [68]:
df.select_dtypes(include='object').dtypes

Suburb         object
Address        object
Type           object
Method         object
SellerG        object
CouncilArea    object
Regionname     object
dtype: object

### Convert Categorical Variables into Numerical variables

In [65]:
result = pd.get_dummies(df,columns=["Type","Method"])
result.head(10)

,Suburb,Address,Rooms,Price,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,...,Regionname,Propertycount,Type_h,Type_t,Type_u,Method_PI,Method_S,Method_SA,Method_SP,Method_VB
0,Abbotsford,85 Turner St,2,1480000.0,Biggin,2016-12-03,2.5,3067,2,1,...,Northern Metropolitan,4019.0,1,0,0,0,1,0,0,0
1,Abbotsford,25 Bloomburg St,2,1035000.0,Biggin,2016-02-04,2.5,3067,2,1,...,Northern Metropolitan,4019.0,1,0,0,0,1,0,0,0
2,Abbotsford,5 Charles St,3,1465000.0,Biggin,2017-03-04,2.5,3067,3,2,...,Northern Metropolitan,4019.0,1,0,0,0,0,0,1,0
3,Abbotsford,40 Federation La,3,850000.0,Biggin,2017-03-04,2.5,3067,3,2,...,Northern Metropolitan,4019.0,1,0,0,1,0,0,0,0
4,Abbotsford,55a Park St,4,1600000.0,Nelson,2016-06-04,2.5,3067,3,1,...,Northern Metropolitan,4019.0,1,0,0,0,0,0,0,1
5,Abbotsford,129 Charles St,2,941000.0,Jellis,2016-05-07,2.5,3067,2,1,...,Northern Metropolitan,4019.0,1,0,0,0,1,0,0,0
6,Abbotsford,124 Yarra St,3,1876000.0,Nelson,2016-05-07,2.5,3067,4,2,...,Northern Metropolitan,4019.0,1,0,0,0,1,0,0,0
7,Abbotsford,98 Charles St,2,1636000.0,Nelson,2016-10-08,2.5,3067,2,1,...,Northern Metropolitan,4019.0,1,0,0,0,1,0,0,0
8,Abbotsford,6/241 Nicholson St,1,300000.0,Biggin,2016-10-08,2.5,3067,1,1,...,Northern Metropolitan,4019.0,0,0,1,0,1,0,0,0
9,Abbotsford,10 Valiant St,2,1097000.0,Biggin,2016-10-08,2.5,3067,3,1,...,Northern Metropolitan,4019.0,1,0,0,0,1,0,0,0